In [1]:
#Import der Bibliotheken

import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [3]:
#Prüfen auf Vorhandensein

print(np.__version__)
print(pd.__version__)
print(plt.__version__)
print(sns.__version__)

2.3.5
2.3.3
3.10.7
0.13.2

In [38]:
# Laden der Daten

df = pd.read_csv("NetFlix.csv")

# Anzeigen der Struktur 

print(df.shape)
print()
print(df.columns)
print()
print(df.dtypes)
print()
print(df.info())

(7787, 12)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'genres', 'description'],
      dtype='object')

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration         int64
genres          object
description     object
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   int64
 10  genres        7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(2), object(10)
memory usage: 730.2+ KB
None

In [37]:
# Vorschau auf die Daten

print(df.head(5))
print()
print(df.tail(5))
print()
print(df.sample(5))

  show_id     type                                      title        director  \
0      s1  TV Show                                         3%             NaN
1     s10    Movie                                       1920    Vikram Bhatt
2    s100    Movie                                 3 Heroines  Iman Brotoseno
3   s1000    Movie  Blue Mountain State: The Rise of Thadland    Lev L. Spiro
4   s1001  TV Show                             Blue Planet II             NaN

                                                cast         country  \
0  João Miguel, Bianca Comparato, Michel Gomes, R...          Brazil
1  Rajneesh Duggal, Adah Sharma, Indraneil Sengup...           India
2  Reza Rahadian, Bunga Citra Lestari, Tara Basro...       Indonesia
3  Alan Ritchson, Darin Brooks, James Cade, Rob R...   United States
4                                 David Attenborough  United Kingdom

  date_added  release_year rating  duration  \
0  14-Aug-20          2020  TV-MA         4
1  15-Dec-17          2008  TV-MA       143
2   5-Jan-19          2016  TV-PG       124
3   1-Mar-16          2016      R        90
4   3-Dec-18          2017   TV-G         1

                                              genres  \
0  International TV Shows, TV Dramas, TV Sci-Fi &...
1     Horror Movies, International Movies, Thrillers
2        Dramas, International Movies, Sports Movies
3                                           Comedies
4  British TV Shows, Docuseries, Science & Nature TV

                                         description
0  In a future where the elite inhabit an island ...
1  An architect and his wife move into a castle t...
2  Three Indonesian women break records by becomi...
3  New NFL star Thad buys his old teammates' belo...
4  This sequel to the award-winning nature series...

     show_id     type                      title             director  \
7782    s995  TV Show                 Blown Away                  NaN
7783    s996  TV Show              Blue Exorcist                  NaN
7784    s997    Movie  Blue Is the Warmest Color  Abdellatif Kechiche
7785    s998    Movie               Blue Jasmine          Woody Allen
7786    s999    Movie                   Blue Jay         Alex Lehmann

                                                   cast  \
7782                                                NaN
7783  Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...
7784  Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...
7785  Cate Blanchett, Sally Hawkins, Alec Baldwin, L...
7786           Sarah Paulson, Mark Duplass, Clu Gulager

                     country date_added  release_year rating  duration  \
7782                  Canada  12-Jul-19          2019  TV-14         1
7783                   Japan   1-Sep-20          2017  TV-MA         2
7784  France, Belgium, Spain  26-Aug-16          2013  NC-17       180
7785           United States   8-Mar-19          2013  PG-13        98
7786           United States   6-Dec-16          2016  TV-MA        81

                                                genres  \
7782                International TV Shows, Reality TV
7783              Anime Series, International TV Shows
7784  Dramas, Independent Movies, International Movies
7785              Comedies, Dramas, Independent Movies
7786       Dramas, Independent Movies, Romantic Movies

                                            description
7782  Ten master artists turn up the heat in glassbl...
7783  Determined to throw off the curse of being Sat...
7784  Determined to fall in love, 15-year-old Adele ...
7785  The high life leads to high anxiety for a fash...
7786  Two former high school sweethearts unexpectedl...

     show_id   type               title            director  \
5393   s5853  Movie       Strong Island          Yance Ford
3781   s4401  Movie  Nappily Ever After   Haifaa Al-Mansour
2664   s3397  Movie           King Jack      Felix Thompson
4161   s4744  Movie       Painted Faces            Alex Law
4721   s5248  Movie           Rocky III  Sylvester Stallone

                                                   cast  \
5393                                                NaN
3781  Sanaa Lathan, Ricky Whittle, Lynn Whitfield, L...
2664  Charlie Plummer, Cory Nichols, Christian Madse...
4161   Sammo Kam-Bo Hung, Ching-Ying Lam, Cheng Pei-pei
4721  Sylvester Stallone, Talia Shire, Burt Young, C...

                     country date_added  release_year rating  duration  \
5393  United States, Denmark  15-Sep-17          2017  TV-MA       108
3781           United States   7-Mar-19          2018  TV-MA        99
2664           United States   1-Jul-16          2015     NR        81
4161               Hong Kong  16-Aug-18          1988  TV-PG       108
4721           United States   1-Aug-19          1982     PG       100

                                 genres  \
5393                      Documentaries
3781  Comedies, Dramas, Romantic Movies
2664         Dramas, Independent Movies
4161       Dramas, International Movies
4721              Dramas, Sports Movies

                                            description
5393  The forces of family, grief and racial injusti...
3781  When a perfectionist ad exec experiences a rom...
2664  Already coping with a bully, a mercurial older...
4161  In this dramatized rendition, students undergo...
4721  After taking a pounding from a powerful young ...

In [40]:
# Fehlende Werte analysieren

print(df.isna().sum())
print()
print(df.isna().mean())

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
genres             0
description        0
dtype: int64

show_id         0.000000
type            0.000000
title           0.000000
director        0.306793
cast            0.092205
country         0.065109
date_added      0.001284
release_year    0.000000
rating          0.000899
duration        0.000000
genres          0.000000
description     0.000000
dtype: float64

In [41]:
# Anzeigen von eindeutigen Werten je Spalte mit dem Datentyp Objekt

df.select_dtypes(include="object").nunique()

show_id        7787
type              2
title          7787
director       4049
cast           6831
country         681
date_added     1565
rating           14
genres          492
description    7769
dtype: int64

In [42]:
# Auf Duplikate prüfen

df.duplicated().sum()

np.int64(0)

In [46]:
# Schlüssel auf Duplikate prüfen

df['show_id'].is_unique

True

In [50]:
# statistische Werte anzeigen

# Alle
df.describe(include="all")

df["duration"].describe()

count    7787.000000
mean       69.122769
std        50.950743
min         1.000000
25%         2.000000
50%        88.000000
75%       106.000000
max       312.000000
Name: duration, dtype: float64